
<nav class="main-navigation" aria-label="Main navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="html.html">HTML Roadmap</a></li>
    <li><a href="css.html">CSS Roadmap</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
